@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem-vindo ao <b>EstoqueWeb</b></h1>
<hr>
<p>Essa aplicação web permite gerenciar seu estoque de produtos. Use o menu superior para acessar os recursos da
    aplicação.</p>