@if (TempData.ContainsKey("mensagem"))
{
    var mensagem = MensagemModel.Desserializar(TempData["mensagem"].ToString());
    @if (mensagem.Tipo == TipoMensagem.Erro)
    {
        <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            @mensagem.Texto
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            @mensagem.Texto
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}