@model CategoriaModel
@{
    ViewBag.Subtitulo = "Exclusão de Categoria";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Deseja realmente excluir a categoria <span class="text-danger">@Model.Nome?</span></h4>

<form asp-action="Excluir" class="w-25">
    <input type="hidden" asp-for="@Model.IdCategoria">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>